body{
    background-color: #32427d;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;

}

header{
    /*border: 1px dashed white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    line-height: 1px;
    text-align:center;
    font-size: 30px;
}

header li{
    display: inline;
    margin-left: 50px;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    color: rgb(65, 191, 241);
    transition: 0.4s all;
    font-weight: bold;
}

header span{
    background-color: rgb(65, 191, 241);
    padding: 10px;
    border-radius: 20px;
    width: 25px;
}

header span:hover{
    background-color: white;
    color: rgb(65, 191, 241);
    cursor: pointer;
}
header span a:hover{
    color: rgb(65, 191, 241);
    transition: none;
}
#service-principal{
    display: flex;
    margin-top: 30px;
}

.text-lado h3{
    font-size: 40px;
    color: white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

.text-lado p{
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    text-indent: 30px;
    font-weight: bold;
}
input{
    margin-bottom: 20px;
    height: 10px;
    width: 500px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    background-color: rgb(31, 45, 72);
    color: white;
}

input[type="button" i] {
    width: 150px;
    line-height: 1px;
    cursor: pointer;
    color: aliceblue;
}

